/* CSS Custom Properties */
:root {
  --white: #f2f1f1;
  --tan-1: #242424;
  --tan-2: #d3d1d1;
  --tan-3: #a3a3a3;
  --tan-4: #242424;
  --orange: #2059f6;
  --text-light: #b0b0b0;
  --text-dark: #615954;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.bg-body-tertiary.navbar.navbar-expand-sm.navbar-light {
  border-radius: 5px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tan-4);
  padding: 2vmin;
  height: 100vh;
}

main {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px 0 10px;
}

.card-container {
  display: inline-block;
  margin: 15px 15px;
  text-align: center;
}

.card-img-top{
  max-width: 286px;
  max-height: 170.33px;
}

.card-text {
  min-height: 50px;
}

.detail-card {
  display: flex;
  justify-content: center;
}

.icon {
  width: 25%;
  height: 25%;
  margin-top: 50px;
}

h1, h3 {
  margin: 5% 0 10% 0;
}

h3 {
  text-align: left;
}

h1, h3 {
  color: #ececec;
}

p {
  color: var(--text-dark);
  text-align: left;
  margin-left: 20px;
}

.navbar-text {
  color: var(--orange)
}

li {
  color: var(--tan-2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid rgb(85, 85, 85);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
  /* box-shadow: 2px 2px 4px 0px rgba(138, 138, 138, 0.4); */
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}
