:root {
  --white: #ededed;
  --tan-1: #242424;
  --tan-2: #d3d1d1;
  --tan-3: #a3a3a3;
  --tan-4: #cfcfcf;
  --yellow: rgb(255, 255, 255);
  --orange: #fa5b12;
  --text-light: #d0d0d0;
  --text-dark: #615954;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(249, 249, 249);
  ;
  /* background: linear-gradient(-45deg, white, var(--orange));; */
  padding: 2vmin;
  height: 100vh;
  text-align: center;
  max-width: 1000px;
}

div.main {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid rgb(85, 85, 85);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

.lightningBolt {
  width: 100px !important;
  height: 100px !important;
  color: #ededed;
}

.lightningBolt::before {
  content: "@mui/icons-material/BoltRounded";
  outline: 5px solid black;

}

#lightningBtn {
  position: fixed;
  border-radius: 50%;
  outline: 5px solid #ededed;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.8), 0 0 0 6px black;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

#authLightning {
  border-radius: 50%;
  outline: 5px solid var(--yellow);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.8), 0 0 0 6px black;
  left: 50%;
}

div.container {
  display: flex;
  flex-direction: column;
}

/* navBar */
.MuiPaper-root {
  background-color: var(--orange);
}

form {
  margin: 10% 0;
}

.signUpForm {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 5%;
  /* padding-top: 140px; */
  justify-content: center;
}

.entries-list {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.submitBtn {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  width: 251.95px;
}

/* centers list icons w/ list names */
.MuiSelect-select {
  display: inline-flex !important;
  justify-content: center !important;
}

/* #randomItemBackground {
  position: absolute;
  width: 90%;
  top: 10%;
  max-width: 1000px;
  height: 500px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  z-index: 2; 
  text-align: center;
} */

#randomText {
  position: absolute;
  margin-top: 45%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-10deg);
  color: rgb(237, 237, 237);
  background-color: var(--orange);
  padding: 15px;
  max-width: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.spin {
  animation: spin .75s linear 1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


